<!doctype html>

<html lang = 'en'>
  <head>
    <meta charset='utf-8'>
    <title>RPS Game</title>
    <link rel='stylesheet' href='/style.css'/>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">New Game</a>
        </li>
      </ul>
    </nav>
    <%= yield %> <!-- calling erb( :result ) calls the result file, renders it to html and put that into layout where this yield is -->
  </body>

</html>