<h1>Welcome to Rock Paper Scissors!</h1>

<p>The first player picks from rock, paper or scissors, then the second player picks.  Rock beats scissors, scissors beat paper and paper beats rock.</p>

<h3>Player 1 pick:</h3>

<ul>
  <li>
    <a href="Paper">Paper</a>
  </li>
  <li>
    <a href="Rock">Rock</a>
  </li>
  <li>
    <a href="Scissors">Scissors</a>
  </li>
</ul>